@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.execution-image {
  @apply hidden md:block md:w-[300px] lg:w-[400px] pointer-events-none
}

.execution-image-container {
  @apply absolute transform w-auto
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  opacity: .1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  /* From https://css.glass */
  background: rgba(219, 218, 167, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}