---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Grid from "@/components/Grid.astro";
import Talent from "@/components/Talent.astro";
import Process from "@/components/Process.astro";
import AboutUs from "@/components/AboutUs.astro";
---

<Layout title="Alquipop">
	<main>
		<section class="h-screen w-full flex flex-col">
			<Hero />
		</section>
		<section id="about-us" class="h-screen">
			<AboutUs />
		</section>
		<section
			id="process"
			class="h-screen bg-black flex flex-col items-center justify-center font-bold relative"
		>
			<Process />
		</section>
		<section
			id="talent"
			class="h-screen min-h-screen flex flex-col justify-between"
		>
			<div
				class="text-center max-w-7xl flex flex-col items-center mx-auto md:mt-10 mt-3"
			>
				<p class="underline-offset-4 underline font-bold text-lg">
					Nuestro Equipo
				</p>
				<p></p>
			</div>
			<Talent />
		</section>
		<section id="portfolio" class="h-screen">
			<Grid />
		</section>

		<section id="contact" class="h-screen bg-black"></section>
	</main>
</Layout>
