---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Grid from "@/components/Grid.astro";
import Process from "@/components/Process.astro";
import AboutUs from "@/components/AboutUs.astro";
import Contact from "@/components/Contact.astro";
import SectionTitle from "@/components/SectionTitle.astro";
---

<Layout title="Alquipop">
	<main>
		<section class="h-screen w-full flex flex-col">
			<Hero />
		</section>
		<section id="about-us" class="h-screen">
			<AboutUs />
		</section>
		<section
			id="process"
			class="h-screen flex flex-col items-center justify-center font-bold relative"
		>
			<Process />
		</section>
		<section
			id="portfolio"
			class="min-h-screen flex flex-col justify-around"
		>
			<div>
				<div
					class="text-center max-w-7xl flex flex-col items-center mx-auto md:mt-10 mt-3"
				>
					<SectionTitle title="Nuestros Proyectos" />
				</div>
			</div>
			<div>
				<div
					class="text-center max-w-7xl flex flex-col items-center mx-auto md:mt-10 mt-3"
				>
					<SectionTitle title="Nuestros clientes" />
				</div>
				<Grid />
			</div>
		</section>
		<section id="contact" class="md:h-screen">
			<Contact />
		</section>
	</main>
</Layout>
