---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import Grid from "@/components/Grid.astro";
import Talent from "@/components/Talent.astro";
import { Image } from "astro:assets";
import alquipop from "@/images/alquipop-logo.svg";
---

<Layout title="Alquipop">
	<main>
		<section class="h-screen w-full flex flex-col">
			<nav class="flex justify-between font-bold p-4 w-full">
				<div class="flex items-center gap-2 font-bold text-xl h-fit">
					<Image
						src={alquipop}
						alt="Alquipop logo"
						class="w-12"
						loading="eager"
					/>
					<p>Alquipop</p>
				</div>
				<div class="flex-col gap-1 hidden md:flex">
					<a
						href="#about-us"
						class="transition-colors duration-300 ease-in-out hover:text-gray-600 scroll-smooth"
						>Sobre Nosotros</a
					>
					<a
						href="#talent"
						class="transition-colors duration-300 ease-in-out hover:text-gray-600 scroll-smooth"
						>Talento</a
					>
					<a
						href="#portfolio"
						class="transition-colors duration-300 ease-in-out hover:text-gray-600 scroll-smooth"
						>Portafolio</a
					>
				</div>
				<a
					href="#contact"
					class="bg-black text-white w-fit h-fit p-2 px-4 rounded-full"
					>Contáctanos</a
				>
			</nav>
			<div
				class="flex-1 font-extrabold xl:text-[200px] md:text-[100px] text-[50px] flex items-center flex-col justify-center"
			>
				<div class="h-fit">
					<span class="text-[#ff9300]">ALQUI</span>POP
				</div>
				<idv class="xl:text-[80px] md:text-[40px] text-xl">
					- TRADE MARKETING AGENCY -
				</idv>
			</div>
			<div class="pb-10 w-full flex justify-center">
				<div
					class="max-w-lg text-center text-gray-600 text-xs md:text-base lg:text-xl"
				>
					Nos especializamos en generar impacto en el retail a través
					de soluciones creativas dentro de puntos de venta.
				</div>
			</div>
		</section>
		<section id="about-us" class="h-screen">
			<div
				class="flex flex-col items-center justify-center h-full max-w-4xl mx-auto text-center"
			>
				<div class="flex flex-col items-center justify-center">
					<p class="underline-offset-4 underline font-bold">
						Acerca de Nosotros
					</p>
					<div
						class="p-4 font-semibold text-xs sm:text-xl lg:text-3xl uppercase flex flex-col gap-2"
					>
						<p>Nuestra misión es transformar ideas en</p>
						<p>realidades exitosas, priorizando resultados</p>
						<p>
							tangibles que impulsen el crecimiento y éxito de las
						</p>
						<p>
							marcas en el punto de venta. Se destacan por crear
						</p>
						<p>
							experiencias memorables que fortalecen la relación
						</p>
						<p>entre marcas y shoppers, generando resultados</p>
						<p>medibles y duraderos en un mercado competitivo.</p>
					</div>
				</div>
			</div>
		</section>
		<section
			id="talent"
			class="h-screen min-h-screen flex flex-col justify-between"
		>
			<div
				class="text-center max-w-7xl flex flex-col items-center mx-auto md:mt-10 mt-3"
			>
				<p class="underline-offset-4 underline font-bold">
					Nuestro Equipo
				</p>
				<p></p>
			</div>
			<Talent />
		</section>
		<section id="portfolio" class="h-screen">
			<Grid />
		</section>
		<section id="contact" class="h-screen bg-black"></section>
	</main>
</Layout>
