---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import alquipop from "@/images/alquipop.svg";
---

<Layout title="Alquipop">
	<main
		class="flex justify-center items-center h-screen w-screen text-white bg-gradient-radial from-stone-800 via-slate-900 to-stone-950"
	>
		<div
			class="relative flex-col flex gap-3 justify-center items-center z-10"
		>
			<Image src={alquipop} alt="Alquipop" class="m-8" />
			<div class="text-white text-4xl font-bold text-center">
				Bajo Construcción
			</div>
			<div class="max-w-lg break-words text-center">
				El equipo de Alquipop está trabajando intensamente para dar vida
				a una agencia creativa especializada en pop-up marketing. Pronto
				lanzaremos soluciones innovadoras y experiencias únicas que
				conectarán a las marcas con sus audiencias de maneras
				impactantes y originales.
			</div>
		</div>
	</main>
</Layout>
