---
import "@/styles/about-us.css";
import SectionTitle from "./SectionTitle.astro";
---

<div
	class="flex flex-col items-center h-full text-center justify-center flex-1"
>
	<SectionTitle title="Acerca de Nosotros" />
	<div class="p-4 font-semibold text-xs sm:text-xl lg:text-3xl max-w-5xl">
		Nuestra misión es transformar ideas en realidades exitosas, priorizando
		resultados tangibles que impulsen el crecimiento y éxito de las marcas
		en el punto de venta. Se destacan por crear experiencias memorables que
		fortalecen la relación entre marcas y shoppers, generando resultados
		medibles y duraderos en un mercado competitivo.
	</div>
</div>
