---
import { Image } from "astro:assets";
import alquipop from "@/images/alquipop-logo.svg";
import linkedin from "@/images/icon-linkedin.png";
import instagram from "@/images/icon-instagram.png";
import rightArrow from "@/images/right-arrow.svg";
---

<div class="flex flex-col items-center justify-center h-full">
	<div class="flex flex-col md:grid grid-cols-2 h-3/4 p-4 w-4/5 relative">
		<div class="absolute -bottom-10 w-full md:flex justify-center hidden">
			<Image
				src={alquipop}
				alt="Alquipop logo"
				class="w-28"
				loading="eager"
			/>
		</div>
		<div
			class="bg-white p-12 md:text-2xl flex flex-col justify-between gap-4"
		>
			<div class="flex flex-col md:gap-8 md:w-3/4 w-full">
				<div class="font-bold">Dirección:</div>
				<div class="underline">
					C. Lago Zurich 245, Col-Piso 7, Amp Granada, Miguel Hidalgo,
					11529 Ciudad de México, CDMX, México.
				</div>
				<div class="font-bold">Teléfono:</div>
				<div>+52 55 1253 7000</div>
			</div>
			<div class="flex gap-5">
				<a href="" class="z-10">
					<Image
						src={linkedin}
						alt="linkedin"
						class="w-14"
						loading="eager"
					/>
				</a>
				<a href="" class="z-10">
					<Image
						src={instagram}
						alt="instagram"
						class="w-14"
						loading="eager"
					/>
				</a>
			</div>
		</div>
		<div class="p-12 md:text-2xl flex flex-col gap-8">
			<div class="font-bold">Contáctanos:</div>
			<div>
				Discutamos cómo podemos ayudarte a alcanzar tus objetivos de
				negocio.
			</div>
			<a
				href="mailto:info@alquipop.com?subject=Consulta%20sobre%20servicios%20de%20Alquipop&body=Hola%20equipo%20de%20Alquipop%2C%0D%0A%0D%0AEstoy%20interesado%2Fa%20en%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20servicios.%20%C2%BFPodr%C3%ADan%20por%20favor%20proporcionarme%20informaci%C3%B3n%20sobre%20precios%20y%20disponibilidad%3F%0D%0A%0D%0AMuchas%20gracias.%0D%0A%0D%0ASaludos%20cordiales%2C%0D%0A[Tu%20Nombre]"
				class="border-b-2 w-fit py-1 border-black cursor-pointer flex gap-2"
			>
				<div class="flex justify-center items-center">
					info@alquipop.com
				</div>
				<div class="flex justify-center items-center pt-2">
					<Image
						src={rightArrow}
						alt="right arrow"
						class="w-5 inline"
						loading="eager"
					/>
				</div>
			</a>
		</div>
	</div>
</div>
