---
import { Image } from "astro:assets";

import process from "@/images/graphic-process.png";
---

<div
	class="p-2 md:p-8 font-normal flex flex-col md:gap-16 gap-6 justify-around md:justify-center items-center min-h-screen"
>
	<div class="text-xl md:text-7xl">
		De la idea a <span class="font-bold">la ejecución</span>
	</div>
	<div class="mx-auto">
		<div class="grid grid-cols-4 md:text-xl text-sm">
			<div class="flex justify-center">1. Brief</div>
			<div class="flex justify-center">2. Concepto</div>
			<div class="flex justify-center">3. Producción</div>
			<div class="flex justify-center">4. Ejecución & Feedback</div>
		</div>
		<Image
			src={process}
			alt="Proceso"
			class="w-full max-h-[700px]"
			loading="eager"
		/>
	</div>
	<div class="text-sm md:text-xl">
		Desarrollamos una
		<span class="font-bold">
			propuesta creativa ejecutable sustentable,
		</span>
		considerando la mayor eficiencia en los procesos de: producción, distribución
		y ejecución de las diferentes soluciones con nuestro objetivo fundamental
		el cual es el de
		<span class="font-bold"> ganar en el punto de venta. </span>
	</div>
</div>
